body {
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-container input[type="date"] {
    width: 100%;
}

.validaciones {
    color: rgb(212, 36, 36);
    font-size: 14px;
  }